@using Microsoft.AspNetCore.Identity;
@using Rent_A_Car.Models;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (SignInManager.IsSignedIn(User))
    {
        <h1 class="display-4">Welcome, @User.Identity.Name!</h1>
        <hr />
        <p>Rent a car fast and easy!</p>
    }
    else
    {
        <h1 class="display-4">Welcome!</h1>
    }
</div>
